<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Neon" sequenceNumber="1476785372">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.6.1.v20160907-1200"/>
      <repository id="eclipse-neon" location="http://download.eclipse.org/releases/neon/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ease" version="0.0.0"/>
      <unit id="org.eclipse.ease.help" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.python" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.python.py4j" version="0.0.0"/>
      <unit id="org.eclipse.ease.modules.help" version="0.0.0"/>
      <unit id="org.eclipse.ease.modules.platform" version="0.0.0"/>
      <unit id="org.eclipse.ease.ui" version="0.0.0"/>
      <unit id="org.eclipse.ease.ui.scripts" version="0.0.0"/>
      <repository id="ease-for-py4j" location="file:///scratch/ease/repo"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.py4j.feature.feature.group" version="0.10.2.1-bnd-ATsnw"/>
      <repository id="py4j-eclipse" location="https://dl.bintray.com/py4j/py4j-eclipse/0.10.2.1/"/>
    </location>
  </locations>
</target>
